<div class="container overflow-auto h-100">
    <a routerLink="/university-dashboard" class="btn btn-primary btn-sm mt-5">Back</a>
    <div class="card mt-5" style="align-items: center">
        <h1>TNSIF</h1>
    </div>
    <!-- Button trigger modal -->
    <div class="text-center mt-3">
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#student">
            Register Student
        </button>
    </div>

    <!-- Modal for create student-->
    <div class="modal fade" id="student" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Student</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form #registerForm="ngForm" (ngSubmit)="addStudent()">
                        <div class="form-group p-2">
                            <label for="name">HallTicket No :</label>
                            <input type="number" [(ngModel)]="studentPayload.hallTicketNo" name="hallTicketNo"
                                id="hallTicketNo" class="form-control" placeholder="Hallticket No" />
                        </div>
                        <div class="form-group p-2">
                            <label for="name">Student Name :</label>
                            <input type="text" [(ngModel)]="studentPayload.name" name="name" id="name"
                                class="form-control" placeholder="Student Name" />
                        </div>
                        <div class="form-group p-2">
                            <label for="name">Qualification :</label>
                            <input type="text" [(ngModel)]="studentPayload.qualification" name="qualification"
                                id="qualification" class="form-control" placeholder="Qualification" />
                        </div>
                        <div class="form-group p-2">
                            <label for="name">Course :</label>
                            <input type="text" [(ngModel)]="studentPayload.course" name="course" id="course"
                                class="form-control" placeholder="Course" />
                        </div>
                        <div class="form-group p-2">
                            <label for="name">Year of Pass :</label>
                            <input type="text" [(ngModel)]="studentPayload.yop" name="yop" id="yop" class="form-control"
                                placeholder="Year of Pass" />
                        </div>
                        <div class="form-group p-2 text-center">
                            <input type="submit" value="Register" class="btn btn-primary" data-bs-dismiss="modal" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Student Details table -->
    <div class="mt-5">
        <h2>Student Details</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Hallticket No</th>
                    <th>Name</th>
                    <th>Qualification</th>
                    <th>Course</th>
                    <th>Yop</th>
                    <th>Certificate</th>
                    <th>Edit</th>
                    <!--<th>Delete</th> -->
                </tr>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let student of students">
                    <td>{{ student.id }}</td>
                    <td>{{ student.hallTicketNo }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.qualification }}</td>
                    <td>{{ student.course }}</td>
                    <td>{{ student.yop }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#certificateModal" (click)="viewCertificate(student)">
                            View
                        </button>

                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal"
                            (click)="editStudent(student)">
                            Edit
                        </button>
                    </td>
                    <!-- <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for update -->
<!-- Modal for Edit Student -->
<div class="modal fade" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Edit Student Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Student editing form here, use Angular form controls to bind student data -->
                <form #editForm="ngForm" (ngSubmit)="updateStudent()">
                    <div class="form-group">
                        <label for="name">Student Name:</label>
                        <input type="text" [(ngModel)]="selectedStudent.name" name="name" id="name"
                            class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="name">HallTicket:</label>
                        <input type="number" [(ngModel)]="selectedStudent.hallTicketNo" name="hallTicketNo"
                            id="hallTicketNo" class="form-control" disabled>
                    </div>
                    <div class="form-group p-2">
                        <label for="name">Qualification :</label>
                        <input type="text" [(ngModel)]="selectedStudent.qualification" name="qualification"
                            id="qualification" class="form-control" placeholder="Qualification" />
                    </div>
                    <div class="form-group p-2">
                        <label for="name">Course :</label>
                        <input type="text" [(ngModel)]="selectedStudent.course" name="course" id="course"
                            class="form-control" placeholder="Course" />
                    </div>
                    <div class="form-group p-2">
                        <label for="name">Year of Pass :</label>
                        <input type="text" [(ngModel)]="selectedStudent.yop" name="yop" id="yop" class="form-control"
                            placeholder="Year of Pass" />
                    </div>
                    <button type="button" class="btn btn-primary me-3" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal for View Certificate -->
<div class="modal fade" id="certificateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Certificate Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Display certificate details here -->
                <h2>Certificate Code: {{ selectedStudent?.certificateCode }}</h2>
                <p>This is to certify that {{ selectedStudent?.name }} has successfully completed {{
                    selectedStudent?.course }}.</p>
            </div>
        </div>
    </div>
</div>