<nav class="navbar navbar-expand-sm w-100 navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Placement
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact Us</a>
        </li>
      </ul>

      <div *ngIf="loggedIn; else elseBlock">
        <div class="d-flex">
          <button
            class="btn btn-outline-danger me-2"
            type="button"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="d-flex">
          <button
            class="btn btn-outline-success me-2"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#login"
          >
            Login
          </button>
          <button
            class="btn btn-outline-warning"
            type="button"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#register"
          >
            Register
          </button>
        </div>
      </ng-template>
      <!--  -->

      <!--  -->

      <!--  -->
    </div>
  </div>
</nav>
{{ loggedIn }}
<app-login></app-login>
<app-register></app-register>
