<div class="container overflow-auto h-100">
    <div class="row my-1">
        <div class="col-md-6">
            <div class="text-container">
                <span class="h1">Placement</span>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
                    deserunt eos explicabo ullam dolorum, maxime numquam qui et ad
                    quibusdam minus esse odit mollitia optio temporibus molestias dolores
                    illum dicta. Omnis sequi cupiditate, ea voluptatibus eveniet sit
                    facilis a soluta iure similique tempora in culpa commodi deserunt
                    corrupti atque! Quasi.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img-container">
                <img src="assets\img\job-placement-clipart.png" alt="job-placement-clipart" />
            </div>
        </div>
    </div>
</div>